<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page_header"> Hello World</h1>

          <%= form_for @user, url: create_session_path do |f| %>

          <%= f.label :email %>
          <%= f.text_area :email %>
          <%= f.label :password %>
          <%= f.password_field :password %>

          <%= f.submit "Sign In" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
