<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Accountability Journal", root_path, :class => "navbar-brand" %>
  </div>
  <!-- /.navbar-header -->

  <%#= render 'layouts/shared/nav/utility' %>

  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">

        <%#= render 'layouts/shared/nav/search' %>
      <% if current_user %>
        <li>
           <%= link_to "Your Homepage", user_path(current_user) %>
        </li>
        <li>
          <%= link_to "Logout", logout_path, method: "destroy" %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign In", login_path %>
        </li>
        <li>
          <%= link_to "Create an Account", user_signup_path %>
        </li>
        <% end %>

        <%#= render 'layouts/shared/nav/main' %>
      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>
