<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <title>AccountabilityJournal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag params[:controller] %>



  </head>

  <body>
  <div id="wrapper">
      <%= render 'layouts/shared/navigation' %>
      <%= yield %>
  </div>
  <hr>
  <footer class="container">
  <small >&copy; 2016 Developed by Brian O'Donoghue | <a  href="https://github.com/BriOD/accountability_journal">GitHub <i class="fa fa-github"></i></a></small>
</footer>
  </body>
</html>
