<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AccountabilityJournal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
<!--
  <% if current_user %>
    Signed in as <%= current_user.name %> | <%= link_to "Logout", logout_path, method: "delete" %>
  <% else %>
    <%= link_to 'Login', create_session_path %> | <%= link_to 'Signup', user_signup_path %>
  <% end %>-->
  <div id="wrapper">
      <%= render 'layouts/shared/navigation' %>
      <%= yield %>
  </div>
  </body>
</html>
